.App {
  text-align: center;
  margin: 0 auto;
  width: 250px;
  border: 8px solid rgb(13, 1, 20);
  border-radius: 20px;
  margin-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);


}

input {
  height: 60px;
  width: 97%;
  font-size: 20px;
  background-color: rgb(5, 4, 4);
  color: white;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: red;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: green;

}

#backspace {
  color: blue;
}

button {
  font-size: 20px;
  cursor: pointer;
}